@media (min-width: 800px) {
    .main-page {    
        margin-top: 279px;
    }
    header {
        height: 279px;
    }
    header img {
        width: 87px;
        height: 100px!important;
    }
    header h1 {
        width: 400px;
        font-size: 64px;
    }
    .flashcard {
        width: 567px;
    }
    .flashcard .buttons {
        justify-content: space-evenly;
    }
}