/******************************** Global Configuration ********************************/

* {
    box-sizing: border-box;
    word-break: break-word;
}

body {
    background-color: #FB6B6B;
    font-family: 'Recursive', sans-serif;
}

/******************************** Welcome Page ********************************/

.welcome-page {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-page img {
    width: 136px;
    height: 161px;
}

.welcome-page h1 {
    width: 257px;
    height: 59px;

    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;

    margin-bottom: 30px;

    color: #FFFFFF;
}

.welcome-page select {
    width: 246px;
    height: 43px;

    background: #FFFFFF;
    border-radius: 5px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    margin-bottom: 18px;

    color: #ADADAD;
}

.welcome-page button {
    width: 246px;
    height: 54px;

    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #D70900;
}

/******************************** Main Page ********************************/
.main-page {
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin-top: 150px;
    margin-bottom: 90px;
}


/*********************** Header ***********************/

header {
    width: 100vw;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
}

header img {
    width: 52px;
    height: 60px;
}

header h1 {
    width: 203.17px;
    height: 44px;

    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;

    color: #FFFFFF;
}


/*********************** Flashcard ***********************/

.flashcard {
    width: 300px;
    height: 65px;

    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 15px;
    position: relative;

    transition: all 0.5s;
}

.flashcard p {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #333333;
}

.flashcard img {
    width: 20px;
    height: 23px;
}

/**************** Flashcard Front ****************/

.flashcard.front {
    width: 299px;
    height: 131px;

    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.flashcard.front p {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    margin-top: 18px;

    color: #333333;
}

.flashcard.front img{
    position: absolute;
    bottom: 6px;
    right: 15px;
}

/**************** Flashcard Back ****************/

.flashcard.back {
    width: 299px;
    height: 131px;

    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.flashcard.back p {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    margin-top: 18px;

    color: #333333;
}

.flashcard.back button {
    width: 85.17px;
    height: 37.17px;

    border-radius: 5px;
}

/*********************** Footer ***********************/

footer {
    width: 100vw;

    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 0;
    left: 0;
}

footer p {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #333333;
}