/******************************** Global Configuration ********************************/

* {
    box-sizing: border-box;
    word-break: break-word;
}

body {
    background-color: #FB6B6B;
    font-family: 'Recursive', sans-serif;
}

/******************************** Welcome Page ********************************/

.welcome-page {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-page img {
    width: 136px;
    height: 161px;
}

.welcome-page h1 {
    width: 257px;
    height: 59px;

    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;

    margin-bottom: 30px;

    color: #FFFFFF;
}

.welcome-page select {
    width: 246px;
    height: 43px;

    background: #FFFFFF;
    border-radius: 5px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    margin-bottom: 18px;

    color: #ADADAD;
}

.welcome-page button {
    width: 246px;
    height: 54px;

    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #D70900;
}

/******************************** Main Page ********************************/
.main-page {
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin-top: 150px;
    margin-bottom: 70px;
}


/*********************** Header ***********************/

header {
    width: 100vw;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #FB6B6B;

    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

header img {
    width: 52px;
    height: 60px;
}

header h1 {
    width: 203.17px;
    height: 44px;

    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;

    color: #FFFFFF;
}


/*********************** Flashcard ***********************/

.flashcard {
    width: 300px;

    margin-bottom: 25px;
    position: relative;
}

.flashcard .list {
    width: 100%;
    height: 65px;

    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 15px;
}

.flashcard .list p {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #333333;
}

.flashcard .list img {
    width: 20px;
    height: 23px;
}

.list.red p {
    color: #FF3030;
    text-decoration: line-through;
}

.list.yellow p {
    color: #FF922E;
    text-decoration: line-through;
}

.list.green p {
    color: #2FBE34;
    text-decoration: line-through;
}

.face {
    padding: 18px 15px;
    padding-bottom: 6px;

    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

/**************** Flashcard Front ****************/

.flashcard .front {
    width: 100%;

    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.flashcard .front>p {
    width: calc(100% - 30px);

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    position: absolute;
    top: 18px;
    left: 15px;

    color: #333333;
}

.flashcard .front img {
    position: absolute;
    bottom: 6px;
    right: 15px;
}

.flashcard .front .cardSize {
    visibility: hidden;
}

/**************** Flashcard Back ****************/

.flashcard .back {
    width: 100%;

    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    position: absolute;
    top: 0;
    left: 0;

    transform: rotateY(180deg);
}

.flashcard .face p {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    margin-bottom: 26px;

    color: #333333;
}

.flashcard .buttons {
    display: flex;
    justify-content: space-between;
}

.flashcard button {
    width: 85.17px;
    height: 37.17px;

    border: none;
    border-radius: 5px;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

button.red {
    background-color: #FF3030;
}

button.yellow {
    background-color: #FF922E;
}

button.green {
    background-color: #2FBE34;
}

/*********************** Footer ***********************/

footer {
    width: 100vw;
    min-height: 70px;

    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

footer p {

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #333333;
}

footer img {
    width: 23px;
    height: 23px;

    margin: 0 2.5px;
    margin-top: 5px;
}

footer .feedback {
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: space-between;

    margin: 15px;
}

footer .feedback img{
    margin-right: 12px;
}

footer .message {
    width: 222px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    margin-bottom: 15px;
}

footer button {
    width: 167px;
    height: 32px;

    background: #FB6B6B;
    border-radius: 5px;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    margin: 21px 0;

    color: #FFFFFF;
}